.blue-background{
    background-color: darkblue;
}

.quote-block{
    background-color: grey;
}

.call-to-action-block{
    background-color: lightblue;

}

.footer{
    background-color: darkblue;
}